@media only screen and (max-width: 768px) {
  #header {
  text-align: center;
  }
  .header-media{
  	margin: auto;
  }
  #footer a {
   
   text-align: center;
}
}
@media only screen and (max-width: 1164px) {
 .query-link{
 	display: block;
 }
}

@media only screen and (min-width: 992px && max-width: 1165px) {
   .course-card{
     height: 13rem;
}
}